.bg-body {
    font-weight: bolder;
}

#logo {
    font-style: oblique;
    font-weight: 900;
    color: rgb(250, 247, 253);
    text-shadow: 2px 2px 5px darkorchid;
    font-size: larger;
    text-indent: 0fr;
}

.container {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-div {
    width: 1200px;
    height: 500px;
    background: transparent;
    /* background-image: url("https://images.app.goo.gl/VcVJCwtAuNJaUPFx7"); */
    box-shadow: 15px 15px 8px gray;
    border-radius: 3%;
    background-image: url('./images/logo.jpeg');
    filter: grayscale(60%);
    background-size: 100% 100%;
}

.top-header {
    padding-top: 20px;
    padding-left: 20px;
    height: 20%;
}

.am-pm-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#am_pm {
    margin-top: 5px;
    margin-left: 0px;
    padding: 3px;
    color: rgb(3, 3, 3);
    background-color: aliceblue;
}

.hours-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(189, 155, 189);
    color: rgb(7, 7, 7);
    font-weight: 900;
    font-size: large;
}

.mins-div {
    display: flex;
    align-items: center;
    background-color: rgb(236, 171, 236);
    color: rgb(7, 7, 7);
    font-weight: 900;
    font-size: large;
}

.secs-div {
    display: flex;
    align-items: center;
    background-color: rgb(216, 95, 186);
    color: rgb(7, 7, 7);
    font-weight: 900;
    font-size: large;
}

.mid-banner {
    height: 60%;
    padding-top: 10%;
    padding-left: 20px;
}

.break-fast {
    font-weight: 900;
    background-color: blanchedalmond;
}

.lunch {
    font-weight: 900;
    background-color: blanchedalmond;
}

.dinner {
    font-weight: 900;
    background-color: blanchedalmond;
}

.footer-div {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-msg {
    font-weight: 900;
    font-style: initial;
    background-color: blanchedalmond;
    color: black;
    text-shadow: 0px 3px 3px solid grey;
    word-spacing: 2px;
    letter-spacing: 5px;
    font-size: xx-large;
}

.btn-div {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-div button {
    width: 400px;
    border-radius: 5%;
    height: 50px;
    border: 1px solid rgb(233, 141, 217);
    box-shadow: 5px 5px 3px grey;
    border-style: none;
    background-color: #e6c5d5;
    font-size: x-large;
}

.btn-div button:hover {
    border: 1px solid rgb(1, 14, 1);
    font-weight: 900;
}


/* logo animation....********** */

.sign {
    background-image: radial-gradient( ellipse 50% 35% at 50% 50%, #6b1839, transparent);
    /* transform: translate(-5%, -5%); */
    letter-spacing: 2;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 1em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%,
    97% {
        color: #ff2483;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}